@import '../App.css';

.projects-container {
    display: flex;
    height: 96vh;
    width: 70%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border: var(--border);
    background-color: var(--background-container);
    z-index: 5;
}

.projects-container footer p {
    opacity: 0.6;
}

.tecnologies {
    margin: 0 20px 0 auto;
    display: flex;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.378);
    padding: 12px;
    border-radius: 15px;
    

}

.tecnology-icon img {
    width: 25px;
    height: 25px;

}


.article-container h4 {
    color: white;
    margin: 0 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.article-container {
    width: 60vw;
    height: auto;
    border: var(--border);
    margin: 20px 20px 0 20px;
}

.article-container p {
    margin: 10px;
}


.project-image {

    height: 80px;
    width: 80px;

}

.article-container header {
    display: flex;
    align-items: center;
    gap: 10px;
}
