@import '../App.css';

.tecnologies-container {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;

}

.tecnologies-icons {


}

.tecnologies-icons svg {
    height: 60px;
    width: 60px;
    margin-left: 20px;
}