:root {
  --background-main-color: rgb(19, 19, 19);
  --primary-font: monospace;
}

body {
  background-color: var(--background-main-color);
}

p {
  font-family: var(--primary-font);
  color: white;
  font-size: 20px;
}

h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

