:root {
  --background-main-color: rgb(12, 12, 12);
  --primary-font: monospace;
  --primary-color: rgb(167, 58, 197);
  --border: 2px solid rgb(140, 140, 140);

}

body {
  background-color: var(--background-main-color);
}

p {
  font-family: var(--primary-font);
  color: white;
  font-size: 20px;
}

h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h3{
  color: white;
}