
@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&display=swap');

:root {

  --font-name : "Geist Pixel", sans-serif;
  --background-main-color: rgba(12, 12, 12, 0.423);
  --background-container: #0606061b;
  --primary-font: monospace;
  --primary-color: rgb(167, 58, 197);
  --border: 1px solid rgba(135, 135, 135, 0.76);
}


body {
  position: relative;
  overflow-x: hidden;
  color: white;
  background:
    linear-gradient(135deg, rgba(31, 31, 31, 0.799), rgba(55, 55, 55, 0.92)),
    url('./assets/dango.gif') center/cover no-repeat;
  backdrop-filter: blur(5px);
}



#root {
  position: relative;
  z-index: 1;
}

p {
  font-family: var(--primary-font);
  color: white;
  font-size: 20px;
}

h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
  color: white;
}